.state-workflow-column > select {
  margin-bottom: 15px;
}

.mtop20px {
  margin-top: 20px;
}

.mright10px {
  margin-right: 10px;
}

.mtop3p {
  margin-top: 3%;
}

.trello-link {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.breadcrumb {
  font-size: 22px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.breadcrumb > .active {
  font-weight: 800;
}

.breadcrumb > li + li::before {
  font-size: 16px;
}