.form-horizontal {
  margin: 0 20px 0 20px;
}

.state-workflow-column {
  padding-right: 0;
  margin: 0 0 1em 0;
}

.mtop3p {
  margin-top: 3%;
}

.trello-link {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}