{% extends "index.html" %}
{% block body %}
<h1>Board "{{ board.name }}"</h1>
<form id="date-form" action="{% url 'cards-at' board.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
<p>
    Cards: {{ card_actions|length }}
</p>
<table>
    <thead>
        <tr>
            <td>Card</td>
            <td>List</td>
            <td>Last Action</td>
            <td>Date</td>
            <td>Is deleted?</td>
            <td>Is archived?</td>
        </tr>
    </thead>
    <tbody>
    {% for ca in card_actions %}
    <tr>
        <td>{{ ca.card_name }}</td>
        <td>{{ ca.list.name }}</td>
        <td>{{ ca.action_type }}</td>
        <td>{{ ca.date }}</td>
        <td>{{ ca.is_deleted }}</td>
        <td>{{ ca.is_archived }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
