{% extends "index.html" %}
{% block js %}
<script type="text/javascript" src="/static/main.js"></script>
{% endblock %}
{% block body %}
<div style="display: none;">
    <div id="custom-chart-tooltip">
        <table class="c3-tooltip">
            <tbody>
                <tr>
                    <th colspan="2">TITLE</th>
                </tr>
                <tr>
                    <td class="name">Date</td>
                    <td class="value">DATE</td>
                </tr>
                <tr>
                    <td class="name">Hours</td>
                    <td class="value">HOURS</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h1>Board "{{ board.name }}"</h1>
<form id="chart-settings" action="{% url chart_url board.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="submit-button" type="button" value="Submit" />

    <div id="chart-workflow">
        <div class="chart-settings-state-column">
            <select id="workflow-1-1" name="workflow-1-1">
            </select>
        </div>
    </div>
</form>
<div id="chart" class="line-chart-pf"></div>
{% endblock %}
