{% extends "index.html" %}
{% block js %}
{% include 'chart/initialization.html' %}
{% endblock %}
{% block body %}
<div style="display: none;">
    <div id="custom-chart-tooltip">
        <table class="c3-tooltip">
            <tbody>
                <tr>
                    <th colspan="2">TITLE</th>
                </tr>
                <tr>
                    <td class="name">Date</td>
                    <td class="value">DATE</td>
                </tr>
                <tr>
                    <td class="name">Days</td>
                    <td class="value">DAYS</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% block top %}
{% endblock top %}
<form id="chart-settings" class="form-horizontal" method="post">
{{ form.non_field_errors }}
{% csrf_token %}
{% block form %}
{% endblock form %}
{% include 'form/submit.html' with input_type="button" %}
</form>
<div id="chart" class="line-chart-pf"></div>
{% block rest %} {# rest of the data #}
{% endblock rest %}
{% endblock %}
