<!DOCTYPE html>
{% load humanize %}
<html class="home-container">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>Trello charts</title>
  {% endblock %}
  <meta name="description" content="">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/css/patternfly.min.css">
  <link rel="stylesheet" href="/static/css/patternfly-additions.min.css">
  <link rel="stylesheet" href="/static/style.css">

  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-combobox.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-switch.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.bootstrap-touchspin.min.js"></script>
  <script type="text/javascript" src="/static/js/c3.min.js"></script>
  <script type="text/javascript" src="/static/js/d3.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="/static/js/patternfly.min.js"></script>
  <script type="text/javascript">
  {% block js %}
  var GLOBAL = { view: "index" };
  {% endblock %}
  </script>
  <script type="text/javascript" src="/static/main.js"></script>

</head>
  <body>
    <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Trello Reporter
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">
          <li>
            {% if request.user.is_authenticated %}
              <a><span class="pficon pficon-user">{{ request.user.full_name }}</span></a>
            {% else %}
              <a><span class="pficon pficon-user">Log in</span></a>
            {% endif %}
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-primary">
          <li class="active">
            <a href="{% url 'index' %}">Home</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <ol class="breadcrumb">
        {% for bc in breadcrumbs %}
        {% if forloop.last %}
        <li class="active">
          {{ bc.text }}
        </li>
        {% else %}
        <li>
          <a href="{{ bc.url }}">{{ bc.text }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ol>
      <div id="errors" class="alert alert-danger" style="display: none;">
        <span class="pficon pficon-error-circle-o"></span>
        <span id="error-content"></span>
      </div>
    {% block body %}
      <div class="list-group list-view-pf list-view-pf-view">
      {% for board in boards %}
        <div class="list-group-item">
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  <a href="{% url 'board-detail' board.id %}">{{ board.name }}</a>
                </div>
                <div class="list-group-item-text">
                  {% if board.card_actions.latest %}
                    Last action: {{ board.card_actions.latest.date|naturaltime }}
                  {% else %}
                    Not synced yet
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endblock %}
    </div>
  </body>

</html>
