<!DOCTYPE html>
<html class="home-container">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>Trello charts</title>
  {% endblock %}
  <meta name="description" content="">
  <link rel="shortcut icon" href="/static/patternfly/dist/img/favicon.ico">
  <link rel="stylesheet" href="/static/patternfly/dist/css/patternfly.min.css">
  <link rel="stylesheet" href="/static/patternfly/dist/css/patternfly-additions.min.css">

  <script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap-combobox/js/bootstrap-combobox.js"></script>
  <script type="text/javascript" src="/static/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="/static/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
  <script type="text/javascript" src="/static/c3/c3.min.js"></script>
  <script type="text/javascript" src="/static/d3/d3.min.js"></script>
  <script type="text/javascript" src="/static/datatables/media/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="/static/google-code-prettify/bin/prettify.min.js"></script>
  <script type="text/javascript" src="/static/patternfly/dist/js/patternfly.min.js"></script>
  {% block js %}
  {% endblock %}

</head>
  <body>
    <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Trello Reporter
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">
          <li>
            {% if request.user.is_authenticated %}
              <a><span class="pficon pficon-user">{{ request.user.full_name }}</span></a>
            {% else %}
              <a><span class="pficon pficon-user">Log in</span></a>
            {% endif %}
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-primary">
          <li class="active">
            <a href="{% url 'index' %}">Home</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <ol class="breadcrumb">
        {% for bc in breadcrumbs %}
        {% if forloop.last %}
        <li class="active">
          {{ bc.text }}
        </li>
        {% else %}
        <li>
          <a href="{{ bc.url }}">{{ bc.text }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ol>
    {% block body %}
      <div class="list-group list-view-pf list-view-pf-view">
      {% for board in boards %}
        <div class="list-group-item">
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  <a href="{% url 'board-detail' board.id %}">{{ board.name }}</a>
                </div>
                <div class="list-group-item-text">
                  <a href="{% url 'cards-at' board.id %}">Cards at</a>
                  <a href="{% url 'card-history' board.id %}">Cards history</a>
                  <a href="{% url 'show-cumulative-chart' board.id %}">Cumulative chart</a>
                  <a href="{% url 'show-control-chart' board.id %}">Control chart</a>
                  <a href="{% url 'show-burndown-chart' board.id %}">Burndown chart</a>
                  <a href="{% url 'show-velocity-chart' board.id %}">Velocity chart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endblock %}
    </div>
  </body>

</html>
