{% extends "charting.html" %}
{% load tz %}
{% load card %}
{% block form %}
{% include 'form/range.html' %}
{% endblock %}
{% block rest %}
<p>
  <a href="{% url 'stalled-cards' list.id %}">Stalled cards</a>
</p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td>Card</td>
      <td>Last action</td>
      <td>Date</td>
      <td>Diff</td>
      <td># cards</td>
      <td># story points</td>
    </tr>
  </thead>
  <tbody>
  {% for ls in list_stats %}
    <tr>
      <td>{% display_card_with_detail_link ls.card_action %}</td>
      <td>{{ ls.card_action.action_type }}</td>
      <td>{{ ls.card_action.date|localtime|date:"Y-m-d P T" }}</td>
      <td>{{ ls.diff }}</td>
      <td>{{ ls.cards_rt }}</td>
      <td>{{ ls.story_points_rt }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
