{% extends "index.html" %}
{% block body %}
<div class="row">
  <form class="form-horizontal" action="{{ post_url }}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sprint dates</h3>
        </div>
        <div class="panel-body">
          {% include 'form/from_to_dt.html' %}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sprint name</h3>
        </div>
        <div class="panel-body">
          {% include 'form/sprint_name.html' %}
        </div>
      </div>
    </div>
    {% include 'form/submit.html' with name="Create sprint" %}
  </form>
</div>
{% endblock %}
