{% extends "index.html" %}
{% block js %}
<script type="text/javascript" src="/static/main.js"></script>
{% endblock %}
{% block body %}
<div id="chart" data-chart-url="{{ chart_url }}"></div>
<h2>Info</h2>
<ul>
  <li>Start: {{ sprint.start_dt }}</li>
  <li>End: {{ sprint.end_dt }}</li>
  <li>Sprint number: {{ sprint.sprint_number }}</li>
  {% if sprint.completed_list %}<li><a href="{% url 'list-detail' sprint.completed_list.id %}">Completed cards</a></li>{% endif %}
  {% if sprint.due_card %}<li><a href="{% url 'card-detail' sprint.due_card.id %}">Sprint card</a></li>{% endif %}
</ul>
<h2>Cards</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Story points</th>
      <th>Column</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
{% for ca in card_actions %}
  <tr>
    <td><a href="{% url 'card-detail' ca.card.id %}">{{ ca.card_name }}</a></td>
    <td>{{ ca.story_points }}</td>
    <td>{{ ca.list.name }}</td>
    <td>{{ ca.date }}</td>
  </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
