{% extends "index.html" %}
{% block js %}
{% include 'chart/initialization.html' %}
{% endblock %}
{% block body %}
<div id="chart" class="line-chart-pf"></div>
<div class="mtop3p">
  <form class="form-horizontal" action="{{ post_url }}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
      <div class="form-group">
        {{ form.start_dt.errors }}
        <label class="col-sm-1 control-label" for="id_{{ form.start_dt.name }}">{{ form.start_dt.label }}</label>
        <div class="col-sm-3">
          {{ form.start_dt }}
        </div>
        {{ form.start_t.errors }}
        <div class="col-sm-2">
          {{ form.start_t }}
        </div>
        {{ form.end_dt.errors }}
        <label class="col-sm-1 control-label" for="id_{{ form.end_dt.name }}">{{ form.end_dt.label }}</label>
        <div class="col-sm-3">
          {{ form.end_dt }}
        </div>
        {{ form.end_t.errors }}
        <div class="col-sm-2">
          {{ form.end_t }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        {{ form.name.errors }}
        <label class="col-sm-1 control-label" for="id_{{ form.name.name }}">{{ form.name.label }}</label>
        <div class="col-sm-5">
          {{ form.name }}
        </div>
        {{ form.sprint_number.errors }}
        <label class="col-sm-1 control-label" for="id_{{ form.sprint_number.name }}">{{ form.sprint_number.label }}</label>
        <div class="col-sm-5">
          {{ form.sprint_number }}
        </div>
      </div>
    </div>
    {% include 'form/submit.html' with name="Update sprint" %}
  </form>
</div>
<h2>Cards in sprint</h2>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Current column</th>
    <th>Story points</th>
    <th>Last action</th>
  </tr>
  </thead>
  <tbody>
  {% for card in sprint_cards %}
  <tr>
    <td><a href="{% url 'card-detail' card.id %}">{{ card.name }}</a></td>
    <td>
    {% if card.latest_action.is_archived %}
    Archived
    {% elif card.latest_action.is_deleted %}
    Deleted
    {% else %}
      <a href="{% url 'list-detail' card.latest_action.list_id %}">{{ card.latest_action.list.name }}</a>
    {% endif %}
    </td>
    <td>{{ card.latest_action.story_points }}</td>
    <td>{{ card.latest_action.date }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% if unfinished_cards %}
<h2>Unfinished cards</h2>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Story points</th>
    <th>Column</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  {% for card in unfinished_cards %}
  <tr>
    <td><a href="{% url 'card-detail' card.id %}">{{ card.name }}</a></td>
    <td>{{ card.latest_action.story_points }}</td>
    <td>{{ card.latest_action.list.name }}</td>
    <td>{{ card.latest_action.date }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% if after_sprint_cas %}
<h2>Cards added to sprint after start</h2>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Story points</th>
    <th>Add to column</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  {% for ca in after_sprint_cas %}
  <tr>
    <td><a href="{% url 'card-detail' ca.card.id %}">{{ ca.card.name }}</a></td>
    <td>{{ ca.story_points }}</td>
    <td>{{ ca.list.name }}</td>
    <td>{{ ca.date }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% if completed_card_actions %}
<h2>Completed cards</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Story points</th>
      <th>Column</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
{% for ca in completed_card_actions %}
  <tr>
    <td><a href="{% url 'card-detail' ca.card.id %}">{{ ca.card.name }}</a></td>
    <td>{{ ca.story_points }}</td>
    <td>{{ ca.list.name }}</td>
    <td>{{ ca.date }}</td>
  </tr>
{% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
