<div class="form-group">
  {{ form.start_dt.errors }}
  <label class="col-sm-5 control-label" for="id_{{ form.start_dt.name }}">{{ form.start_dt.label }}</label>
  <div class="col-sm-7">
    {{ form.start_dt }}
  </div>
</div>
<div class="form-group">
  {{ form.start_t.errors }}
  <label class="col-sm-5 control-label" for="id_{{ form.start_t.name }}">{{ form.start_t.label }}</label>
  <div class="col-sm-7">
    {{ form.start_t }}
  </div>
</div>
<div class="form-group">
  {{ form.end_dt.errors }}
  <label class="col-sm-5 control-label" for="id_{{ form.end_dt.name }}">{{ form.end_dt.label }}</label>
  <div class="col-sm-7">
    {{ form.end_dt }}
  </div>
</div>
<div class="form-group">
  {{ form.end_t.errors }}
  <label class="col-sm-5 control-label" for="id_{{ form.end_t.name }}">{{ form.end_t.label }}</label>
  <div class="col-sm-7">
    {{ form.end_t }}
  </div>
</div>
