{% extends "charting.html" %}
{% block top %}
<div class="panel panel-default">
    <div class="panel-body">
        {{ cumulative_flow_chart_description }}
    </div>
</div>
{% endblock %}
{% block form %}
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Timeline</h3>
            </div>
            <div class="panel-body">
                {% include 'form/range.html' %}
                {% include 'form/sprint.html' %}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Chart Options</h3>
            </div>
            <div class="panel-body">
                {% include 'form/tick.html' %}
                {% include 'form/cards_or_sp.html' %}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Trello Columns</h3>
            </div>
            <div class="panel-body">
                {% include 'form/workflow.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
